<section class="d-flex flex-column h-100">
  <%= render "shared/page_heading", title: "Checklist | Campaign - #{resource.insertion_order.title}", class_name: "mb-5" %>
  <%= render "documents/documents_list" %>
</section>