.l-master-relationships {
  .icon-header {
    width: 69px;
    bottom: -8px;
    right: 0;
  }

  .icon-robot {
    transform: rotate(90deg);
    top: 350px;
    left: 30px;
    width: 245px;
  }

  .icon-circle {
    right: -120px;
    bottom: -240px;
  }

  .icon-star-6 {
    width: 331px;
    right: -125px;
    bottom: 60px;
  }
}
