// nav-variables
$nav-link-padding-x: 0;

// pagination-variables
$pagination-padding-y: 0; // We use a specific height instead
$pagination-padding-x: 0; // We use a specific width instead
$pagination-margin-start: 0.625rem;
