<section>
  <%= render "shared/page_heading", title: "Insertion Orders", class_name: "mb-5" do %>
    <div class="d-flex">
      <%= render "shared/filterable" %>
    </div>
  <% end %>

  <%= render "list", collection: %>
</section>
