<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link px-4 <%= current_page?(results_path) ? "active":"" %>" href="<%= results_path %>">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link px-4 <%= current_page?(keywords_media_plan_path(resource)) ? "active":"" %>" href="<%= keywords_media_plan_path(resource) %>">Keywords</a>
  </li>
</ul>
