<section>
  <%= render "shared/page_heading", title: "Media Plan", class_name: "mb-5" do %>
    <div class="d-flex">
      <%= render "shared/filterable", get_status: ->(status) { media_plan_status(status) } %>
      <% if policy(MediaPlan).create? %>
        <%= link_to "New Media Plan", new_media_plan_path, class: "btn btn-primary ms-3" %>
      <% end %>
    </div>
  <% end %>

  <%= render "list", collection: collection %>
</section>
