<section class="d-flex flex-column h-100">
  <%= render "shared/page_heading", title: "Request Documents | Campaign - #{resource.insertion_order.title}", class_name: "mb-5" %>
  <%= render "request_documents_form", documents_request: @documents_request %>
</section>