<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <strong>Digital Mouth Storm Center</strong>
    <hr />
    <%= yield %>
  </body>
</html>
